*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
            text-align: center;
        }
#prog{
    margin:auto;
    width:80%;
    height:40px;
     background-color: rgb(217, 218, 218);
    position: relative;
}
 #bar{
    background-color: rgb(62, 193, 244);
    width: 10px;
    height: 40px;
    position: absolute;
}